<html>
    <body>
        <h1>Enter New Car Info Here:</h1>
        <form action="" method="POST">
            <p>Make:<input type="text"></p>
            <p>Model:<input type="text"></p>
            <p>Year:<input type="text"></p>
            <p>Color:<input type="text"></p>
            <input type="submit">
        </form>
    </body>
</html>