<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Penguins!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container col-8" align=center>
        <h1>Welcome to the Penguin Dashboard!</h1>
        <h4>Create a new penguin or meet and edit each of the penguins below </h4>
        <div class="jumbotron">
            <table class="table table-striped">
                <thead>
                    <th>Penguins to Meet</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    
                    <% for(var penguin of penguins){%>
                        <tr><td><a href="/details/<%= penguin._id %>"><%= penguin.name %></a></td> 
                        <td><a href="/delete/<%= penguin._id %>">Delete</a> <a href="/edit/<%= penguin._id %>">Edit</a></td></tr>
                    <%}%>
                    </tr>
                </tbody>
            </table>
            <p><a href="/new" class="btn btn-outline-primary">Add New Penguin</a></p>
        </div>
    </div>
</body>
</html>

